
div {
    background-color: #ffffff21;
}

.background {
    background-color: #000000;
}

.navbar-brand
{
    height: 5%;
    width: 1%;
}

h1,h2,h3 {
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 133, 250);
    font-size: flex;

}

.experience-text {
    text-align: left;
    background-color:#000000;
}

.card-img-top  {
    border-radius: 0px;
    max-width: 400px;
    max-height: 500px;
    display: block;
    margin-left:auto ;
    margin-right: auto;
}

.img-fluid {
border-radius: 1000px;
height: auto;
padding: 25px;
max-width: 100%;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.btn-branding {
        display: flex;
        align-items:center;
}

.container {
    font-size: x-large;
    justify-content: flex-start;
}


.mail-link {
    text-align: center;
}

.contact-link {
    text-align: center;
    font-size: large;
    color: azure;
    background-color:#208aae5d;
}

.contact-link:hover {
    background-color: rgb(255, 166, 0);
    color: blueviolet
}

h1:hover {
color: rgb(255, 255, 255);
}

h2:hover {
    color: azure;
}

h3:hover {
    color: azure;
}

p {
    text-align: center;
    font-size: large;
}
